// Place all the styles related to the Restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.restaurant {
  margin-top: 2rem;
}
.address {
  opacity: .6;
}

.address:before {
  content: '🚩 Address : ';
}

.restaurant-info {
  justify-content: space-between;
}